@import "tailwindcss";

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html {
  scroll-behavior: smooth;
}

/* Pour les autres navigateurs */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
